Project Logs for pure60/
*.SchDocPreview
*.drc
pure60-WKL/Project Outputs for alps-cherry/
History/
__Previews/
Project Logs for pure60-WKL/
Project Outputs for alps-cherry/
bootleg-2/Project Logs for bootleg-2/
bootleg-1/Project Logs for bootleg-1/
.DS_Store
